<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pro.study.dao.company.CompanyMybaitsDao">
    <select id="getLonerLocationMapByCompanyId" resultType="com.pro.study.dto.company.CompanyLoanerLocationDto">
    	SELECT 
    	COUNT(id) AS total,
    	`native_province` AS province,
        native_city AS city
		FROM 
		`loan_applicant_per_info`
		WHERE 
		    id IN
		    (SELECT loan_order.user_id
		    FROM 
		        (SELECT link.product_id
		        FROM `company` company
		        LEFT JOIN `company_product_link` link
		            ON company.id = link.product_id
		        WHERE company_id = #{companyId}) a
		        LEFT JOIN `loan_order` loan_order
		            ON a.product_id = loan_order.`product_id` )
		    GROUP BY  `native_city`
    </select>
    
    <select id="getProductByCompanyId" resultType="com.pro.study.dto.company.ProductDto">
    	SELECT id,product_name AS name  FROM `product` WHERE company_id = #{companyId} AND delete_flag = 0
    </select>
    
    <select id="getProductDetailByPage"  resultType="com.pro.study.dto.company.ProductDetailDTO" parameterType="com.pro.study.dto.sys.LimitDto">
    	SELECT 
    	id AS productId,
    	`product_name` AS productName,
    	`product_describe` AS productDecribe,
    	`product_logo` AS logoKey
    	 FROM `product`
    	  WHERE 
    	  `delete_flag` = 0 AND `company_id` = #{companyId} 
    	  LIMIT 
    	  #{page.limitStart},#{page.limitEnd}
    </select>
    
    <select id="getAllProductSize"  resultType="java.lang.Integer">
    	SELECT COUNT(ID) FROM `product` WHERE `delete_flag` = 0 AND `company_id` = #{companyId}
    </select>
    
    <update id="updateProductInfo" parameterType="com.pro.study.vo.request.product.ProductRequestVO">
    	UPDATE `product` 
    	SET 
    	company_id =#{companyId},
    	product_describe = #{product.productDescribe},
    	product_name = #{product.productName},
    	product_logo = #{product.logoKey} 
    	WHERE 
    	id = #{companyId}
    </update>
    
    <select id="getRuleField"  resultType="com.pro.study.dto.workflow.RuleFieldAndDicDTO">
    	SELECT 
    	rule.id AS fieldId , 
    	rule.`field_name` AS fieldName,
    	dic.id AS fieldDicId,
    	dic.`field_dic_name` AS fieldDicName 
    	FROM 
    	`pro_rule_field` rule  
    	JOIN 
    	`rule_field_dic` dic 
    	ON 
    	rule.`id` = dic.`field_id` 
    	WHERE 
    	rule.`company_id` = #{companyId}
    	AND 
    	rule.`product_id`=#{productId}
    </select>
    
    <select id="getRuleByPage" resultType ="com.pro.study.dto.workflow.RuleDTO" parameterType="com.pro.study.vo.request.product.ProductRequestVO">
    	SELECT 
	    	product.id AS productId,
			product.`product_name` AS productName,
			rule.id , 
	    	rule.`rule_describe` AS ruleDescribe,
	    	rule.`create_time` AS createTime, 
	    	rule.`rule_name` AS ruleName 
	    	FROM 
	    	`pro_rule` AS rule
	    	LEFT JOIN `product` AS product 
	    	ON rule.product_id = product.id
    	WHERE  
    		company_id =#{companyId} 
    		LIMIT #{page.limitStart},#{page.limitEnd}
    </select>
    
    <select id="countAllRule"  resultType = "java.lang.Integer">
    	SELECT count(id) 
    	FROM 
    	`pro_rule` 
    	WHERE  
    	company_id =#{companyId} 
    </select>
    
    <update id="updateRuleInfo" parameterType="com.pro.study.dto.workflow.RuleUpdateDTO">
    	UPDATE `pro_rule` 
    	SET 
    	`product_id` = #{rule.productId},
    	`rule_body` = #{rule.body},
    	`rule_describe` = #{rule.describe},
    	`rule_name` = #{rule.ruleName} 
    	WHERE 
    	`company_id` = #{rule.companyId} 
    	AND 
    	`id` = #{rule.id}
    </update>
    
    <update id="deleteRule">
    	UPDATE `pro_rule` 
    	SET 
    	`delete_flag` = 1 
    	WHERE 
    	`id` = #{id}
    </update>
    
    <select id ="findWorkFlowByProductId" resultType="com.pro.study.dto.workflow.WorkFlowDTO">
    	SELECT id,`workflow_name` AS workflowName FROM `pro_workflow` WHERE product_id = 1
    </select>
    
    <select id="findNodeListByWorkFlowId" resultType="com.pro.study.dto.workflow.NodeDTO">
    	SELECT id,`step_name` AS `name` FROM `step_node` WHERE `workflow_id` = #{workFlowId}
    </select>
    
    <select id="getAllRuleLinkInfo" resultType="com.pro.study.dto.workflow.RuleLinkDTO">
		SELECT 
		`id`,
		`rule_name` AS ruleName,
		`rule_describe` AS ruleDescribe,
		`node_id` AS  nodeId
		FROM 
		`pro_rule` 
		WHERE 
		workflow_id =#{workFlowId} 
		OR 
		product_id = #{productId}   
		limit
		#{limitStart},#{limitEnd}
    </select>
    
    <select id="countRuleByProductIdAndWorkFlowId" resultType="java.lang.Integer">
    	SELECT 
		count(id)
		FROM 
		`pro_rule` 
		WHERE 
		workflow_id =#{workFlowId} 
		OR 
		product_id = #{productId} 
    </select>
    
    <select id="getAllOutInterface" resultType="com.pro.study.dto.sys.OutInterfaceDTO">
    	SELECT * 
    	FROM 
    	`out_interface` AS interface 
    	LEFT JOIN 
    	`interface_product_link` AS link 
    	ON 
    	interface.id = link.interface_id 
    	AND 
    	link.node_id = #{nodeId} 
    	AND 
    	link.product_id =#{productId} 
    	ORDER BY  
    	company_name
    	LIMIT #{limitStart},#{limitEnd} 
    </select>
    
    <select id="countAllInterface" resultType = "java.lang.Integer">
    	SELECT  
    	count(id)
    	FROM 
    	`out_interface`
    </select>
    <select id="findRuleByProductIdAndNodeIdAndRuleId" resultType="java.lang.Integer">
    	SELECT node_id FROM `pro_rule` WHERE `node_id` = #{nodeId} AND `product_id` = #{productId} AND id = #{ruleId}
    </select>
    <update id="updateRuleLinkType">
    	UPDATE 
    	`pro_rule` 
    	SET 
    	`node_id` = NULL 
    	WHERE 
    	id= #{ruleId} 
    </update>
    
    <update id="updateSetLinkInfoOnRule">
    	UPDATE 
    	`pro_rule` 
    	SET 
    	`node_id` = #{nodeId} 
    	WHERE 
    	id= #{ruleId} 
    </update>
    
    <select id="findLinkInfoByNodeIdAndInterfaceId" resultType="java.lang.Integer">
    	SELECT 
    	id 
    	FROM `interface_product_link` 
    	WHERE 
    	interface_id = #{interfaceId} 
    	AND 
    	node_id = #{nodeId}
    </select>
    
    <insert id="enableInterfaceLink">
    	INSERT INTO 
    	`interface_product_link` 
    	(`interface_id`,`node_id`,`product_id`) 
    	VALUES 
    	(#{interfaceId},#{nodeId},#{productId})
    </insert>
    
    <delete id="stopInterfaceLink">
    	DELETE FROM `interface_product_link`  WHERE `node_id` = #{nodeId}
    </delete>
</mapper>
